In [1]:
import pandas as pd

In [3]:
confirmed_data = pd.read_csv("time_series_covid19_confirmed_global.csv")
confirmed_data = confirmed_data.rename(columns = {"Country/Region": "Country"})
confirmed_data = confirmed_data.drop(["Lat","Long"], axis = 1)
confirmed_data = confirmed_data.iloc[:,1:]
confirmed_data #= confirmed_data.reset_index()

,Country,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,24,40,40,74,84,94,110,110,120,170
1,Albania,0,0,0,0,0,0,0,0,0,...,76,89,104,123,146,174,186,197,212,223
2,Algeria,0,0,0,0,0,0,0,0,0,...,139,201,230,264,302,367,409,454,511,584
3,Andorra,0,0,0,0,0,0,0,0,0,...,88,113,133,164,188,224,267,308,334,370
4,Angola,0,0,0,0,0,0,0,0,0,...,2,2,3,3,3,4,4,5,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,United Kingdom,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2
250,United Kingdom,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2
251,United Kingdom,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,4,4,5
252,MS Zaandam,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2
253,Botswana,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [4]:
confirmed_data = confirmed_data.groupby('Country').sum()
confirmed_data = confirmed_data.transpose()
confirmed_data

Country,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
1/26/20,0,0,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3/26/20,94,174,367,224,4,7,502,290,2810,6909,...,196,333,11812,217,75,107,153,84,16,3
3/27/20,110,186,409,267,4,7,589,329,3143,7657,...,310,405,14745,238,88,107,163,91,22,5
3/28/20,110,197,454,308,5,7,690,407,3640,8271,...,356,468,17312,274,104,119,174,98,28,7
3/29/20,120,212,511,334,7,7,745,424,3984,8788,...,475,570,19780,304,144,119,188,109,29,7
3/30/20,170,223,584,370,7,7,820,482,4361,9618,...,548,611,22453,310,149,135,203,116,35,7

In [6]:
#in drop down
countrylist = list(pd.read_csv("covid16_table.csv")['Country'])
countrylist

['USA',
 'Italy',
 'Spain',
 'Germany',
 'Iran',
 'France',
 'UK',
 'Switzerland',
 'Belgium',
 'Netherlands',
 'Turkey',
 'Austria',
 'S. Korea',
 'Canada',
 'Portugal',
 'Israel',
 'Brazil',
 'Norway',
 'Australia',
 'Sweden',
 'Czechia',
 'Ireland',
 'Denmark',
 'Malaysia',
 'Chile',
 'Russia',
 'Romania',
 'Poland',
 'Philippines',
 'Luxembourg',
 'Ecuador',
 'Japan',
 'Pakistan',
 'Thailand',
 'Saudi Arabia',
 'Indonesia',
 'Finland',
 'South Africa',
 'India',
 'Greece',
 'Iceland',
 'Dominican Republic',
 'Mexico',
 'Panama',
 'Argentina',
 'Peru',
 'Singapore',
 'Serbia',
 'Croatia',
 'Slovenia',
 'Colombia',
 'Estonia',
 'Hong Kong',
 'Qatar',
 'UAE',
 'Egypt',
 'New Zealand',
 'Iraq',
 'Algeria',
 'Morocco',
 'Bahrain',
 'Ukraine',
 'Lithuania',
 'Armenia',
 'Hungary',
 'Lebanon',
 'Bosnia and Herzegovina',
 'Bulgaria',
 'Latvia',
 'Andorra',
 'Slovakia',
 'Tunisia',
 'Moldova',
 'Kazakhstan',
 'Costa Rica',
 'North Macedonia',
 'Taiwan',
 'Uruguay',
 'Azerbaijan',
 'Kuwait',
 'Jordan',
 'Cyprus',
 'RÃ©union',
 'Burkina Faso',
 'Albania',
 'San Marino',
 'Vietnam',
 'Cameroon',
 'Oman',
 'Cuba',
 'Senegal',
 'Afghanistan',
 'Faeroe Islands',
 'Malta',
 'Ivory Coast',
 'Ghana',
 'Belarus',
 'Sri Lanka',
 'Honduras',
 'Channel Islands',
 'Venezuela',
 'Nigeria',
 'Brunei',
 'Martinique',
 'Palestine',
 'Georgia',
 'Cambodia',
 'Bolivia',
 'Guadeloupe',
 'DRC',
 'Trinidad and Tobago',
 'Rwanda',
 'Gibraltar',
 'Paraguay',
 'Liechtenstein',
 'Kenya',
 'Bangladesh',
 'Aruba',
 'Monaco',
 'French Guiana',
 'Macao',
 'Guatemala',
 'Jamaica',
 'French Polynesia',
 'Togo',
 'Ethiopia',
 'Guinea',
 'Maldives',
 'Gabon',
 'Saint Martin',
 'Cayman Islands',
 'Mongolia',
 'CuraÃ§ao',
 'Namibia',
 'Saint Lucia',
 'Eswatini',
 'Guyana',
 'Suriname',
 'Sudan',
 'Antigua and Barbuda',
 'Mauritania',
 'St. Barth',
 'Nepal',
 'Bhutan',
 'St. Vincent Grenadines',
 'China',
 'Total:']

In [7]:
for country in countrylist:
    if country not in confirmed_data.columns:
        print(country)

USA
UK
S. Korea
Hong Kong
UAE
Taiwan
RÃ©union
Faeroe Islands
Ivory Coast
Channel Islands
Martinique
Palestine
Guadeloupe
DRC
Gibraltar
Aruba
French Guiana
Macao
French Polynesia
Saint Martin
Cayman Islands
CuraÃ§ao
St. Barth
St. Vincent Grenadines
Total:

In [8]:
for country in confirmed_data.columns:
    if country not in countrylist:
        print(country)

Angola
Bahamas
Barbados
Belize
Benin
Botswana
Burma
Cabo Verde
Central African Republic
Chad
Congo (Brazzaville)
Congo (Kinshasa)
Cote d'Ivoire
Diamond Princess
Djibouti
Dominica
El Salvador
Equatorial Guinea
Eritrea
Fiji
Gambia
Grenada
Guinea-Bissau
Haiti
Holy See
Korea, South
Kosovo
Kyrgyzstan
Laos
Liberia
Libya
MS Zaandam
Madagascar
Mali
Mauritius
Montenegro
Mozambique
Nicaragua
Niger
Papua New Guinea
Saint Kitts and Nevis
Saint Vincent and the Grenadines
Seychelles
Somalia
Syria
Taiwan*
Tanzania
Timor-Leste
US
Uganda
United Arab Emirates
United Kingdom
Uzbekistan
West Bank and Gaza
Zambia
Zimbabwe

In [9]:
confirmed_data.rename(columns={'US':'USA', 'United Kingdom':'UK', 'Korea, South': 'S. Korea','Taiwan*': 'Taiwan','United Arab Emirates': 'UAE'
                  ,"Cote d'Ivoire": 'Ivory Coast','Saint Vincent and the Grenadines': 'St. Vincent Grenadines'}, inplace=True)

In [10]:
confirmed_data

Country,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Ukraine,UAE,UK,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
1/26/20,0,0,0,0,0,0,0,0,4,0,...,0,0,0,0,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3/26/20,94,174,367,224,4,7,502,290,2810,6909,...,196,333,11812,217,75,107,153,84,16,3
3/27/20,110,186,409,267,4,7,589,329,3143,7657,...,310,405,14745,238,88,107,163,91,22,5
3/28/20,110,197,454,308,5,7,690,407,3640,8271,...,356,468,17312,274,104,119,174,98,28,7
3/29/20,120,212,511,334,7,7,745,424,3984,8788,...,475,570,19780,304,144,119,188,109,29,7
3/30/20,170,223,584,370,7,7,820,482,4361,9618,...,548,611,22453,310,149,135,203,116,35,7

In [11]:
for country in countrylist:
    if country not in confirmed_data.columns:
        print(country)

Hong Kong
RÃ©union
Faeroe Islands
Channel Islands
Martinique
Palestine
Guadeloupe
DRC
Gibraltar
Aruba
French Guiana
Macao
French Polynesia
Saint Martin
Cayman Islands
CuraÃ§ao
St. Barth
Total:

In [12]:
for country in confirmed_data.columns:
    if country not in countrylist:
        print(country)

Angola
Bahamas
Barbados
Belize
Benin
Botswana
Burma
Cabo Verde
Central African Republic
Chad
Congo (Brazzaville)
Congo (Kinshasa)
Diamond Princess
Djibouti
Dominica
El Salvador
Equatorial Guinea
Eritrea
Fiji
Gambia
Grenada
Guinea-Bissau
Haiti
Holy See
Kosovo
Kyrgyzstan
Laos
Liberia
Libya
MS Zaandam
Madagascar
Mali
Mauritius
Montenegro
Mozambique
Nicaragua
Niger
Papua New Guinea
Saint Kitts and Nevis
Seychelles
Somalia
Syria
Tanzania
Timor-Leste
Uganda
Uzbekistan
West Bank and Gaza
Zambia
Zimbabwe

In [21]:
confirmed_data = confirmed_data.reset_index()
confirmed_data

Country,index,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,Ukraine,UAE,UK,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,4,...,0,0,0,0,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,3/26/20,94,174,367,224,4,7,502,290,2810,...,196,333,11812,217,75,107,153,84,16,3
65,3/27/20,110,186,409,267,4,7,589,329,3143,...,310,405,14745,238,88,107,163,91,22,5
66,3/28/20,110,197,454,308,5,7,690,407,3640,...,356,468,17312,274,104,119,174,98,28,7
67,3/29/20,120,212,511,334,7,7,745,424,3984,...,475,570,19780,304,144,119,188,109,29,7
68,3/30/20,170,223,584,370,7,7,820,482,4361,...,548,611,22453,310,149,135,203,116,35,7

In [22]:
confirmed_data.rename(columns={'index':'time'}, inplace=True)

In [24]:
confirmed_data['value'] = confirmed_data['USA'] / 1000
confirmed_data['value']

0       0.001
1       0.001
2       0.002
3       0.002
4       0.005
       ...
64     83.836
65    101.657
66    121.478
67    140.886
68    161.807
Name: value, Length: 69, dtype: float64

In [25]:
confirmed_data.to_csv('march31confirmed.csv')